In [3]:
from pyspark.sql import SparkSession

# Spark session & context
spark = (SparkSession
         .builder
         .appName("read-postgres")
         # Add postgres jar
         .config("spark.driver.extraClassPath", "/home/jovyan/work/jars/postgresql-42.4.0.jar")
         .getOrCreate())

In [5]:
# Movies Table; created from the csv we mounted  

df_actor = (
    spark.read
    .format("jdbc")
    .option("url", "jdbc:postgresql://oasispostgresdb:5432/dvdrental")
    .option("dbtable", "public.actor")
    .option("user", "airflow")
    .option("password", "airflow")
    .load()
)

In [6]:
df_actor.show(10)

+--------+----------+------------+--------------------+
|actor_id|first_name|   last_name|         last_update|
+--------+----------+------------+--------------------+
|       1|  Penelope|     Guiness|2013-05-26 14:47:...|
|       2|      Nick|    Wahlberg|2013-05-26 14:47:...|
|       3|        Ed|       Chase|2013-05-26 14:47:...|
|       4|  Jennifer|       Davis|2013-05-26 14:47:...|
|       5|    Johnny|Lollobrigida|2013-05-26 14:47:...|
|       6|     Bette|   Nicholson|2013-05-26 14:47:...|
|       7|     Grace|      Mostel|2013-05-26 14:47:...|
|       8|   Matthew|   Johansson|2013-05-26 14:47:...|
|       9|       Joe|       Swank|2013-05-26 14:47:...|
|      10| Christian|       Gable|2013-05-26 14:47:...|
+--------+----------+------------+--------------------+
only showing top 10 rows